<!DOCTYPE html>
<html>
<head>
    <title>Cloud AI-ML Aide</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <title>Cloud AI-ML Aide</title>
    <link rel="icon" href="../static/cloud_API_icon.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="../static/style.css"/>
</head>
<body>
<nav class="navbar " style="background-color: #111111">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../static/caiml_logo.png" alt=""  class="d-inline-block align-text-top">
    </a>
  </div>
</nav>
<div class="jumbotron">
    <div class="row">
        <div class="col-md-12">
            <ul class="list-group" style="font-family: 'Cambria Math'">
                <li class="list-group-item">ML/AI resources cater to developers, SQA professionals, and domain
                    experts.
                </li>
                <li class="list-group-item">Offer guidance on accessing cloud-based ML/AI APIs.</li>
                <li class="list-group-item">Resource for streamline test input generation for software robustness.</li>
                <li class="list-group-item">Facilitate comprehensive test case analysis for optimizing performance.</li>
                <li class="list-group-item">Present a multitude of other possibilities for innovation and
                    problem-solving.
            </ul>
        </div>
    </div>

</div>
<div class="container">

    <div class="row">
        <div class="col-md-6">
            <div class="card mx-auto" style="width: 25rem;">
                <img src="../static/idea.png" class="mx-auto card-img-top" style="width: 40%;padding-top: 40px;"/>
                <div class="card-body">
                    <h5 class="card-title">Knowledge Hub</h5>
                    <p class="card-text">Explore a wealth of ML/AI resources tailored for developers, SQA professionals, and experts in relevant domains. Access cloud-based ML/AI APIs, streamline test input generation, enhance test case analysis, and unlock a world of possibilities</p>
                    <a href="/knowledge" class="btn btn-primary">GO to CAI-ML Knowledge Hub</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mx-auto" style="width: 25rem;">
                <img src="../static/cloud_API_icon.png" class="mx-auto card-img-top" style="width: 40%;padding-top: 40px;" />
                <div class="card-body">
                    <h5 class="card-title">Explore Cloud API</h5>
                    <p class="card-text">The objective is to make these ML/AI resources available for developers, SQA & relevant domain people,
                        where they can get guidance to access the cloud-based ML/AI API, test input generation, test case analysis & much more</p>
                    <a href="/apitest" class="btn btn-primary">Analyze AI-ML API Output</a>
                </div>
            </div>
        </div>
    </div>


</div>
<br>
</body>

<footer class="text-center text-lg-start bg-dark text-muted" style="height: 40px">
    <p>© 2023 Copyright: CAI-ML.com</p>
</footer>

</html>
